html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

.cf:before,
.cf:after {
    content:"";
    display:table;
}
.cf:after {
    clear:both;
}
.cf {
    *zoom:1;
}

/*Mi codigo*/

body{
	color: #595959;
	font-family: "Century Gothic", CenturyGothic, AppleGothic, sans-serif;
	font-size: 14px;
}

h1{
	font-size: 36px;
	line-height: 40px;
}

h2{
	font-size: 30px;
	line-height: 32px;
}

h3{
	font-size: 24px;
	line-height: 28px;
}

h4{
	font-size: 21px;
	line-height: 25px;
}

h5{
	font-size: 18px;
	line-height: 22px;
}

a{
	text-decoration: none;
}

.contenedor{
	margin: 0 auto;
	width: 1080px;
}

.contenedor_interior{
	height: 670px;
	position: relative;
	width: 1080px !important;
}

.bg_portada{
	background: url('../images/bg1.jpg') no-repeat;
}

.main_title{
	background: url('../images/pag1_logo.png') no-repeat;
	height: 231px;
	padding-top: 20px;
	position: absolute;
	right: 0;
	text-align: center;
	top: 180px;
	width: 465px;
}

.main_title h2{
	color: #941694;
	font-weight: bold;
	line-height: 34px;
	margin-bottom: 5px;
}

.main_title p{
	color: #641B58;
	font-size: 24px;
	line-height: 24px;
}

.nav_footer a{
	display: block;
	height: 38px;
	width: 113px;
}

.btn_inicio{
	background: url('../images/btn_inicio.png') no-repeat;
}

.btn_indice{
	background: url('../images/btn_indice.png') no-repeat;
}

.footer{
	bottom: 30px;
	position: absolute;
	width: 100%;
}

.nav_footer{
	float: right;
	margin-right: 20px;
}

.nav_footer li{
	float: left;
	margin-left: 10px;
}

.nav_footer a:hover {
    opacity: 0.8;
    filter: alpha(opacity=80);
}

.bg_indice{
	background: url('../images/bg_indice.jpg') no-repeat;
}

.accordionContent {
	display: none;
}

.accordionButton{
	cursor: pointer;
	height: 58px;
	padding: 10px 0 0 60px;
	width: 241px;
}

.accordionButton h2{
	font-family: Georgia, Times, "Times New Roman", serif;
	font-style: italic;
}

.indice1{
	background: url('../images/indice1.png') no-repeat;
	color: #941694;
}
.indice2{
	background: url('../images/indice2.png') no-repeat;
	color: #E36498;
}
.indice3{
	background: url('../images/indice3.png') no-repeat;
	color: #1B86C4;
}
.indice4{
	background: url('../images/indice4.png') no-repeat;
	color: #4AAF85;
}

.cont_indice{
	margin-top: 100px;
}

.cont_indice h2{
	font-size: 28px;
}

.accordionContent{
	padding: 0 0 20px 60px;
}

.accordionContent li{
	margin-bottom: 5px;
}

.accordionContent a{
	color: #595959;
	font-size: 16px;
	line-height: 16px;
}

.accordionContent h4{
	margin-bottom: 5px;
}

.links_fundamentales a:hover,
.links_fundamentales h4 a{
	color: #941694;
	font-weight: bold;
}

.links_proceso a:hover,
.links_proceso h4 a{
	color: #E36498;
	font-weight: bold;
}

.links_ejecucion a:hover,
.links_ejecucion h4 a{
	color: #1B86C4;
	font-weight: bold;
}

.links_ejecucion ul{
	margin-left: 20px;
}

.header{
	padding-top: 40px;
	position: relative;
}

.header img{
	position: absolute;
	right: 60px;
}

.bg_fundamentales1{
	background: url('../images/bg4.jpg') no-repeat;
}

.bg_fundamentales2{
	background: url('../images/bg5.jpg') no-repeat;
}

.bg_simple{
	background: url('../images/bg_simple.jpg') no-repeat;
}

.bg_fundamentales4{
	background: url('../images/bg7.jpg') no-repeat;
}

.bg_fundamentales5{
	background: url('../images/bg8.jpg') no-repeat;
}

.bg_fundamentales6{
	background: url('../images/bg9.jpg') no-repeat;
}

.bg10{
	background: url('../images/bg10.jpg') no-repeat;
}

.bg11{
	background: url('../images/bg11.jpg') no-repeat;
}

.bg12{
	background: url('../images/bg12.jpg') no-repeat;
}

.bg13{
	background: url('../images/bg13.jpg') no-repeat;
}

.bg14{
	background: url('../images/bg14.jpg') no-repeat;
}

.cont_left{
	width: 505px;
}

.cabecera{
	margin-bottom: 40px;
}

.cabecera_margen{
	margin-bottom: 60px;
}

.cabecera h1{
	font-family: Georgia, Times, "Times New Roman", serif;
	font-style: italic;
}

.fundamentales .cabecera h1{
	color: #641B58;
}

.proceso .cabecera h1{
	color: #802355;
}

.ejecucion .cabecera h1{
	color: #225270;
}

.cabecera h4{
	font-family: Georgia, Times, "Times New Roman", serif;
	margin-bottom: 5px;
}

.morado{
	color: #941694;
}

.cont_sues{
	margin-left: 40px;
}

.cont_suenio{
	background: url('../images/suenio.png') no-repeat;
	color: #fff;
	height: 103px;
	margin-bottom: 10px;
	padding: 20px;
	width: 359px;
}

.cont_suenio p{
	font-size: 25px;
	line-height: 27px;
	margin-top: 5px;
}

.fs21{
	font-size: 21px;
	line-height: 25px;
}

.bold{
	font-weight: bold;
}

.nuestra_es{
	background: url('../images/estrategia.png') no-repeat;
	height: 100px;
	line-height: 18px;
	margin-top: 20px;
	padding: 20px 30px;
	width: 333px;
}

.nuestra_es h3{
	color: #641B58;
	font-family: Georgia, Times, "Times New Roman", serif;
	margin-bottom: 5px;
}

.deck-slide-scaler{
	height: 670px;
	overflow: hidden;
	position: relative;
}

.cont_titulo{
	margin-bottom: 20px;
}

.cont_titulo_margen{
	margin-bottom: 40px;
}

.cont_titulo h2{
	margin-bottom: 5px;
}

.cont_titulo p{
	font-size: 21px;
}

.cont_40_65 li{
	clear: both;
	margin-bottom: 20px;
}

h5{
	color: #641B58;
	font-family: Georgia, Times, "Times New Roman", serif;
	font-style: italic;
	margin-bottom: 5px;
}

.bullet{
	float: left;
	padding: 0 10px 42px 0;
}

.cont_posi{
	padding-right: 150px;
}

.cont_posi li{
	clear: both;
}

.cont_posi li img{
	clear: both;
	float: right;
}

.cont_posi li h5{
	float: left;
	padding: 0 40px 10px 0;
	text-align: right;
	width: 200px;
}

p{
	font-size: 14px;
	line-height: 18px;
}

.cont_posi li p{
	margin-bottom: 10px;
}

.cont_historia p{
	margin-bottom: 20px;
}

.cont_historia h2{
	margin-bottom: 40px;
}

.italic{
	font-family: Georgia, Times, "Times New Roman", serif;
	font-style: italic;
}

.cont_diagrama{
	height: 520px;
	position: relative;
}

.absolute{
	position: absolute;
}

.img_center{
	left: 120px;
	top: 40px;
}

.img_share{
	left: 150px;
	top: 20px;
}

.img_notice{
	right: 300px;
	top: 10px;
}

.text_notice{
	right: 120px;
	top: 10px;
}

.img_act{
	left: 65px;
	top: 200px;
}

.text_act{
	left: 65px;
	top: 285px;
}

.img_fell{
	bottom: 110px;
	left: 435px;
}

.img_think{
	bottom: 235px;
	right: 205px;
}

.text_think{
	bottom: 130px;
	right: 130px;
}

.titulo_center{
	color: #641B58;
	margin-top: -20px;
	text-align: center;
}

.titulo_center h2{
	font-size: 32px;
	margin: 5px 0;
}

.titulo_center p{
	font-size: 15px;
	margin-bottom: 5px;
}

.des_mkt{
	margin: 5px 0 0 90px;
}

.des_mkt li{
	background: url('../images/bloque.png') no-repeat;
	float: left;
	height: 186px;
	padding: 15px 10px;
	text-align: center;
	width: 273px;
}

.mlr{
	margin: 0 10px;
}

.ptitulo{
	font-size: 15px;
	margin-bottom: 5px;
}

.descripcion{
	font-size: 11px;
}

.bloques_poise{
	margin: 20px auto 0;
	overflow: hidden;
	width: 824px;
}

.bloques_poise li{
	float: left;
	padding: 0 40px;
}

.bloques_poise1 li{
	text-align: center;
}

.bloques_poise .bloque_gris{
	background: url('../images/bloque_poise_gris.png') no-repeat;
	height: 222px;
	margin-right: 20px;
	width: 277px;
}

.bloques_poise .bloque_blanco{
	background: url('../images/bloque_poise_blanco.png') no-repeat;
	height: 228px;
	width: 305px;
}

.bloques_poise li p{
	margin-top: 150px;
}

.logos_malos ul{
	clear: both;
	margin: 0 0 20px 20px;
	overflow: hidden;
}

.logos_malos li{
	float: left;
	margin: 0 5px;
	text-align: center;
	width: 170px;
}

.bloques_poise .cont_colores p{
	margin-top: 0;
}

.left{
	float: left;
}

.right{
	float: right;
}

.align_center{
	text-align: center;
}

.cont_logo_center{
	margin: 0 auto;
	padding-top: 40px;
	text-align: center;
	width: 200px;
}

.cont_logo_center p{
	font-size: 12px;
}

.cont_marcas{
	height: 350px;
	margin-top: 20px;
	position: relative;
}

.logo_poise1{
	left: 120px;
	top: 0;
}

.logo_poise2{
	left: 120px;
	top: 120px;
}

.logo_poise3{
	right: 120px;
	top: 0;
}

.logo_poise4{
	right: 120px;
	top: 120px;
}

.logo_poise5{
	bottom: 50px;
    right: 415px;
}

.cont_marcas .flecha_left1{
	left: 400px;
	top: 40px;
}

.cont_marcas .flecha_left2{
	left: 400px;
	top: 160px;
}

.cont_marcas .flecha_right1{
	right: 400px;
	top: 40px;
}

.cont_marcas .flecha_right2{
	right: 400px;
	top: 160px;
}

.cont_marcas .flecha_bottom{
	bottom: 160px;
    left: 530px;
}

.bloques_patron{
	margin: 20px auto 0;
	overflow: hidden;
	width: 845px;
}

.bloques_patron li{
	float: left;
	margin-right: 20px;
}

.bloques_patron .bloque_gris{
	background: url('../images/bloque_gris_patron.png') no-repeat;
	height: 222px;
	width: 391px;
}

.bloques_patron .bloque_blanco{
	background: url('../images/bloque_blanco_patron.png') no-repeat;
	height: 229px;
	width: 384px;
}

.bloques_patron .italic{
	font-size: 20px;
	margin-bottom: 5px;
}

.cont_p_ondas{
	margin: 80px 0 0 195px;
	width: 180px;
}

.cont_p_ondas2{
	margin: 80px 0 0 230px;
	width: 150px;
}

.font12{
	font-size: 12px;
}

.cont_p_ondas .font12{
	margin-left: 10px;
}

.cont_estilos .morado{
	font-size: 18px;
}

.cont_estilos ul{
	margin-bottom: 20px;
}

.cont_estilos li{
	margin-bottom: 5px;
}

.cont_estilos li img{
	display: block;
	float: left;
	padding-right: 15px;
}

.cont_estilos li p{
	overflow: hidden;
}

.error_fotos{
	margin: 20px 0 0 80px;
}

.cont_color_plataforma{
	margin-top: 20px;
	overflow: hidden;
	position: relative;
}

.cont_color_plataforma ul{
	margin-top: 25px;
}

.cont_color_plataforma li{
	float: left;
	margin: 0 20px;
}

.parrafo_celeste{
	color: #0094DD;
	left: 280px;
	position: absolute;
	text-align: center;
	width: 215px;
}

.fs24{
	font-size: 24px;
	line-height: 28px;
}

.titulo_bullet{
	float: left;
	padding-right: 20px;
	width: 325px;
}

.titulo_bullet .bullet_big,
.titulo_bullet .fs24{
	float: left;
}

.titulo_bullet p{
	margin: 0 10px;
	width: 110px;
}

.bullet_big{
	padding-top: 5px;
}

.flecha_der{
	float: right;
	padding-top: 20px;
}

.pdescripcion{
	margin-bottom: 35px;
	overflow: hidden;
	padding-top: 6px;
	width: 430px;
}

.cont_logoflas{
	clear: both;
}

.cont_logoflas{
	margin-left: 310px;
}

.cont_logoflas li{
	float: left;
	margin-left: 40px;
}

.imagen_respaldo{
	margin-top: 40px;
}

.mb10px{
	margin-bottom: 10px;
}

.bg_carro{
	background: url('../images/bg_carro.png') no-repeat;
	height: 69px;
	padding: 15px 0 0 20px;
	width: 923px;
}

.cabecera_bg h2{
	float: left;
	margin-right: 10px;
}

.cabecera_bg p{
	padding-top: 10px;
}

.titulo20{
	font-size: 20px;
	line-height: 24px;
	margin-bottom: 20px;
}

.cont_estrategia li{
	clear: both;
	margin-bottom: 20px;
}

.cont_estrategia .bullet{
	padding: 0 10px 15px 0;
}

.cont_estrategia .cont_left{
	float: left;
	width: 380px;
}

.hidden{
	overflow: hidden;
}

.cont_estrategia .cont_left .bullet{
	padding: 0 10px 34px 0;
}

.cont_estrategia .cont_right{
	padding-left: 20px;
	width: 510px;
}

.bg_pastilla{
	background: url('../images/bg_pastilla.png') no-repeat;
	height: 77px;
	padding: 15px 0 0 20px;
	width: 625px;
}

.cont_ganar li{
	clear: both;
	margin-bottom: 20px;
}

.cont_ganar .titulo20{
	margin-bottom: 0;
}

.cont_ganar .cont_left{
	width: 625px;
}

.cont_ganar .bullet{
	padding: 0 10px 25px 0;
}

.cont_ganar .cont_titulo .fonts14{
	font-size: 14px;
}

.cont_ganar .cont_titulo{
	margin-top: -20px;
}

.bg_gente{
	background: url('../images/bg_gente.png') no-repeat;
	height: 77px;
	padding: 15px 0 0 20px;
	width: 954px;
}

.cont_principios .cont_left{
	float: left;
    width: 550px;
}

.cont_principios{
	margin-top: -20px;
}

.cont_principios li{
	clear: both;
	margin-bottom: 10px;
}

.cont_principios li p{
	font-size: 11px;
}

.cont_principios li .bullet{
	padding: 0 10px 25px 0;
}

.cont_principios li .bullet_mini{
	padding: 0 10px 10px 0;
}

.cont_principios .cont_left{
	margin-right: 60px;
}

.cont_principios .cont_right{
	padding-top: 40px;
}

.cont_stand2{
	position: relative;
}

.cont_stand2 p{
	color: #641B58;
	font-size: 16px;
	left: 528px;
}

.cont_stand2 img{
	margin-left: 100px;
}

.cont_stand2 .p1{
    top: 115px;
}

.cont_stand2 .p2{
    top: 175px;
}

.cont_stand2 .p3{
    top: 265px;
}

.cont_stand2 h2{
	left: 500px;
	top: 40px;
}

.cont_stand3{
	margin-top: 70px;
	text-align: center;
}

.cont_stand4{
	margin-top: 40px;
	text-align: center;
}

.con_precios li{
	margin-bottom: 5px;
}

.con_precios p{
	font-size: 18px;
	margin-top: 30px;
}

.con_precios .img_precios{
	margin: 40px 0 0 80px;
}

.con_precios .img_precios li{
	float: left;
	margin-right: 20px;
}

.cont_toallas{
	margin-right: 100px;
}

.precios_inco{
	margin-left: 80px;
}

.precios_inco li{
	margin-bottom: 40px;
}

.estrategia_digital{
	margin-top: 30px;
}

.estrategia_digital .bold{
	font-size: 12px;
}

.estrategia_digital p{
	font-size: 11px;
	line-height: 15px;
}

.estrategia_digital li{
	clear: both;
	margin: 0 0 20px 40px;
}

.estrategia_digital li img{
	float: none;
}

.titulo_estrategia{
	float: left;
	padding: 12px 10px 12px 0;
	text-align: right;
	width: 190px;
}

.titulo_estrategia h2{
	color: #641B58;
	float: left;
	font-family: Georgia, Times, "Times New Roman", serif;
	font-size: 27px;
	font-style: italic;
	margin: -10px 10px 0 0;
}

.titulo_estrategia .h2pl{
	padding-left: 20px;
}

.cont_brand{
	text-align: center;
	width: 120px;
}

.text_center{
	text-align: center;
}

.punta_piramide li{
	margin-bottom: 10px;
}

.base_piramide{
	margin: 0 auto;
	overflow: hidden;
	width: 730px;
}

.base_piramide li{
	float: left;
	margin: 0 5px;
}

.cabecera_mm{
	margin-bottom: 20px;
}

.globos_canal{
	float: right;
	margin-right: 120px;
}

.web_indicador{
	float: left;
}

.web_indicador li{
	margin-bottom: 5px;
}

.web_indicador p{
	font-family: Georgia, Times, "Times New Roman", serif;
	font-size: 12px;
	font-style: italic;
}

.globo_pagado{
	padding-top: 50px;
}

.globo_ganado{
	padding-top: 0;
}

.estrategia_digital.canal_digital li{
	font-size: 11px;
	line-height: 15px;
}

.estrategia_digital.canal_digital li img{
	float: left;
}

.canal_digital .titulo_estrategia{
	width: 110px;
}

.canal_digital{
	margin: 0 20px 0 0;
	width: 545px;
}

.canal_digital .web_indicador{
	float: none;
	overflow: hidden;
}

.estrategia_digital.canal_digital .li_madre{
	margin: 0 0 15px 0;
}

.globo_titulo1{
	list-style-image: url('../images/bullet_globo1.png');
}

.globo_titulo2{
	list-style-image: url('../images/bullet_globo2.png');
}

.globo_titulo3{
	list-style-image: url('../images/bullet_globo3.png');
}

.globo_titulo4{
	list-style-image: url('../images/bullet_globo4.png');
}

.globo_titulo5{
	list-style-image: url('../images/bullet_globo5.png');
}

.li_madre .web_indicador li{
	margin-bottom: 0;
}

.cont_trial{
	height: 420px;
	overflow: hidden;
	padding-right: 40px;
	position: relative;
}

.cont_trial h4{
	margin-top: 10px;
	text-align: center;
}

.globo_canalvideo{
	left: 100px;
}

.globo_webyblog{
	left: 200px;
	top: 80px;
}

.globo_sociales{
	left: 60px;
	top: 150px;
}

.globo_mailing{
	right: 130px;
    top: 150px;
}

.globo_google{
	bottom: 55px;
	left: 110px;
}

.globo_canalvideo{
	bottom: 85px;
	left: 280px;
}

.trial{
	left: 190px;
	top: 180px;
}

.cont_img_center{
	text-align: center;
}

.rosado{
	color: #E36498;
}

.cont_contexto1 p{
	font-size: 15px;
}

.proceso .cont_left{
	width: 570px;
}

.aloe{
	left: 380px;
	top: -78px;
}

.cont_cuidados{
	margin-top: 50px;
	position: relative;
}

.cont_cuidados li{
	float: left;
	margin: 0 20px;
}

.noticia_left{
	margin-right: 35px;
    text-align: right;
    width: 200px;
}

.noticia_right{
	margin: 0 95px 24px 0;
}

.noticia_right li{
	display: inline-block;
	margin: 0 10px;
}

.noticia_right h5{
	font-family: "Century Gothic", CenturyGothic, AppleGothic, sans-serif;
	font-style: inherit;
}

.cont_noticia .li_madre{
	clear: both;
}

.cont_noticia li h3{
	color: #802355;
	font-family: Georgia, Times, "Times New Roman", serif;
}

.cont_tit_des{
	text-align: center;
	width: 225px;
}

.verde{
	color: #5BB294;
}

.noticia_right img{
	float: right;
}

.cont_sombra_big img{
	margin: 20px 0 0 150px;
}

.celeste{
	color: #5593C8;
}

.cont_productos{
	position: relative;
	width: 920px;
}

.titulo_productos{
	right: 10px;
	top: 20px;
}

.datos_productos{
	right: 0;
	top: 85px;
}

.img_sophie{
	left: 140px;
}

.img_pampita{
	left: 90px;
}

.img_sabila{
	left: 100px;
}

.img_empaque{
	left: 0px;
}

.cont_cpi p{
	margin-bottom: 20px;
}

.des_anatomia{
	margin: 10px 0 0 100px;
}

.des_anatomia li{
	background: url('../images/bloque_anatomia.png') no-repeat;
	float: left;
	height: 115px;
	margin: 0 5px;
	padding: 20px;
	width: 167px;
}

.relative{
	position: relative;
}

.cont_pathway{
	height: 440px;
    overflow: hidden;
    width: 1030px;
}

.pathway1{
	left: 260px;
}

.pathway2{
	left: 160px;
    top: 110px;
}

.pathway3{
	left: 398px;
	top: 130px;
}

.pathway4{
	left: 440px;
	top: 120px;
}

.pathway5{
	right: 215px;
	top: 140px;
}

.pathway6{
	right: 70px;
	top: 170px;
}

.pathway7{
	bottom: 30px;
	left: 300px;
}

.cont_img_crea li{
	float: left;
	margin: 0 26px;
}

.cont_testimoniales{
	margin-top: 40px;
	overflow: hidden;
	text-align: center;
	width: 1050px;
}

.cont_testimoniales li{
	float: left;
	margin: 0 10px;
}

.descarga{
	background: url('../images/descarga.png') no-repeat left center;
	display: block;
	line-height: 18px;
	margin: 10px auto 0;
	padding-left: 25px;
	width: 116px;
}

.descarga:hover{
	text-decoration: underline;
}

.des_print{
	margin: 5px auto 0;
	overflow: hidden;
	width: 78px;
}

.cont_img_graf{
	padding-top: 6px;
}

.cont_materiales{
	margin-top: -20px;
}

.titulo_materiales{
	margin: 210px 20px 0 0;
	width: 120px;
}

.cont_img_mat{
	margin-top: -50px;
	overflow: hidden;
	width: 820px;
}

.cont_muestreo li{
	float: left;
	margin: 10px;
	text-align: center;
}

.cont_muestreo .descarga{
	width: 80px;
}

.cont_muestreo1{
	margin: 0 auto;
	overflow: hidden;
	width: 690px;
}

.cont_muestreo2{
	margin: 0 auto;
	width: 632px;
}

.cont_muestreo2 .cont_img_graf{
	margin-top: -8px;
	padding-top: 0;
}

.cont_digital img{
	display: block;
	margin-bottom: 19px;
}

.fs18{
	font-size: 18px;
	line-height: 22px;
}

.guia_des{
	padding: 0 10px;
    text-align: left;
    width: 200px;
}

.guia_titulo{
	text-align: left;
}

.cont_guia li{
	float: left;
}

.globos_guia{
    margin: 0 120px 24px 0;
}

.globos_guia li{
	margin: 0 40px;
}

.cont_big_guia{
	margin-top: 30px;
}

.tabla_tv{
	overflow: hidden;
	width: 820px;
}

.titulo_guia{
	color: #225270;
	font-family: Georgia, Times, "Times New Roman", serif;
	margin: 210px 40px 0 0;
	width: 100px;
}

.cont_pa{
	overflow: hidden;
}

.cont_pa img{
	float: left;
	padding: 0 10px 20px 0;
}

.cont_pa li{
	clear: both;
	width: 500px;
}

.h4p{
	overflow: hidden;
}

.cont_big,
.cont_big2{
	margin-left: 40px;
	width: 1000px;
}

.cont_big .pa_li1{
	margin-top: 20px;
}

.cont_big .pa_li2{
	margin-top: 14px;
}

.cont_big .pa_li4{
	margin-top: 6px;
}

.cont_big .pa_li5{
	margin-top: 60px;
}

.cont_imgpa{
	margin-right: 10px;
}

.cont_titulo_left{
	margin: 130px 30px 0 0;
	width: 240px;
}

.cont_big2 .pa_li1{
	margin-top: 30px;
}

.cont_big2 .pa_li2{
	margin-top: 94px;
}

.cont_big2 .pa_li3{
	margin-top: 68px;
}

.cont_big2 .pa_li4{
	margin-top: 20px;
}

.cont_big2 .pa_li5{
	margin-top: 40px;
}

.cont_big2 .pa_li6{
	margin-top: 35px;
}

.img_distribucion{
	margin-top: -50px;
}

.pelemento{
	width: 200px;
}

.cont_elementos{
	width: 1000px;
}

.cont_elementos img{
	display: block;
}

.cont_elementos li{
	clear: both;
}

.elementros_left{
	width: 540px;
}

.elementros_left p{
	margin: 50px 20px 0 0;
	text-align: right;
}

.elementros_right img{
	margin-right: 20px;
}

.elementros_right p{
	padding-top: 50px;
}

.cont_big_claims{
	margin-bottom: 20px;
	overflow: hidden;
	width: 1000px;
}

.cont_claims{
	float: left;
	margin-right: 60px;
	width: 525px;
}

.cont_claims .fila{
	margin-bottom: 20px;
}

.pfooter{
	clear: both;
	text-align: center;
}

.img_claims{
	margin-top: 40px;
}

.spanh3{
	font-family: Georgia, Times, "Times New Roman", serif;
	font-size: 24px;
	font-style: italic;
	line-height: 28px;
}

.ulclaims{
	list-style-image: url('../images/bullet_claims.png');
	margin-left: 14px;
}

.ulclaims li{
	margin-bottom: 2px;
}

.cont_claims2{
	margin-top: 40px;
}

.cont_claims3{
	margin-right: 160px;
}

.ulclaims .bold{
	color: #225270;
}

.ulsinbullet{
	margin: 0 0 20px 14px;
}

.img_fin{
	right: 170px;
	top: 220px;
}